.Post + .comments-wrapper {
  .comments-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding-top: 2rem;
    .el-dropdown {
      height: 40px;
    }
    .Comment_menu-icon {
      top: 1.5rem;
    }
  }
}

.comments-group {
  @extend .list-group;
  .comments-group-item {
    @extend .list-group-item;
    background-color: #efefef;
    border-color: #dedede;
    color: #666;
    display: flex;
  }
}

.Comment {
  position: relative;
  font-size: 0.8rem;
  .el-dropdown {
    position: absolute;
    right: 0;
    top: 0;
    height: 20px;
    width: 50px;
  }
  &_menu-icon {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem 1rem;
    font-size: 0.85rem;
    color: #bbb;
    border-radius: 0.25rem;
    &:hover {
      color: #999;
    }
  }
  &_date a {
    color: #adb5bd;
  }
  &_profile-picture {

  }
  &_username {
    color: #444;
    font-weight: bold;
    display: inline-block;
  }
  .avatar-thumb {
    width: 30px;
    height: 30px;
    border-width: 1px;
  }
  &_content {
    margin-left: 1rem;

  }
  &_text p {
    margin-bottom: 0;
  }
}

.new-comment {
  width: 100%;
  position: relative;
  textarea {
    resize: none;
    border-radius: 1rem;
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
  }
  &__button {
    position: absolute;
    right: 0;
    bottom: 0;
    border: none;
    background-color: transparent;
    color: #aaa;
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
    cursor: pointer;
    &:hover, &:focus {
      color: #333;
      outline: none;
    }
  }
}