.event-name-input {
  font-size: 2rem;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $gray-400;
  &:focus, &:hover {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $gray-700;
  }
}

.event-picture-uploader {
  .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 100%;

    &:hover {
      border-color: #409EFF;
    }
  }
  &-icon {
    color: #8c939d;
    width: 100%;
    height: 225px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    i {
      font-size: 28px;
    }
    span {
      font-family: Open Sans, sans-serif;
      font-size: 0.75rem;
      font-weight: bold;
      margin-top: 1rem;
    }
  }
  .event-picture {
    width: 100%;
    height: 225px;
    display: block;
    object-fit: cover;
  }
}