.event-name-input {
  font-size: 2rem;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $gray-400;
  &:focus, &:hover {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $gray-700;
  }
}

.event-picture-uploader {
  .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 100%;

    &:hover {
      border-color: #409EFF;
    }
  }
  &-icon {
    color: #8c939d;
    width: 100%;
    height: 225px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    i {
      font-size: 28px;
    }
    span {
      font-family: Open Sans, sans-serif;
      font-size: 0.75rem;
      font-weight: bold;
      margin-top: 1rem;
    }
  }
  .event-picture {
    width: 100%;
    height: 225px;
    display: block;
    object-fit: cover;
  }
}

.Event {
  &__header {
    position: relative;
  }
  &__image {
    width: 100%;
    height: 300px;
    &__overlay {
      width: 100%;
      height: 100%;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,212121+100&0+45,0.85+100 */
      background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(155, 155, 155, 0) 45%, rgba(33, 33, 33, 0.85) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(155, 155, 155, 0) 45%, rgba(33, 33, 33, 0.85) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(155, 155, 155, 0) 45%, rgba(33, 33, 33, 0.85) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#d9212121', GradientType=0); /* IE6-9 */
    }
  }
  &__top-text {
    position: absolute;
    bottom: 0;
    padding: 1rem 1.5rem;
  }
  &__name {
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 5px #000;
  }
  &__sub-text {
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }

  &-tools {
    &__content {
      display: flex;
      align-items: center;
    }
    .tools-right {
      margin-left: auto;
    }
    .tools-item {
      padding: 0 1rem;
      border-left: 1px solid #ccc;
      &:last-child {
        padding-right: 0.5rem;
      }
    }
    .event-subscribers {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &__number {
        font-weight: bold;
        font-size: 1.4rem;
      }
      &__text {
        font-weight: lighter;
        font-size: 0.75rem;
      }
    }
  }
  &__details {
    font-size: 0.75rem;
  }
}

.events-list {
  padding: 0;
  list-style: none;
  &__item {
    margin-bottom: 1rem;
    //box-shadow: 0 0 0;
    transition: all 0.5s;
  }

  &.tiny {
    .events-list__item {
      a {
        display: block;
        padding: 0.3rem 0.6rem;
        &:hover {
          text-decoration: none;
          background-color: #ddd;
        }
      }
      h3 {
        font-size: 1.1rem;
        font-weight: bold;
        margin: 0;
      }
      p {
        margin: 0;
        font-size: 0.75rem;
      }
    }
  }

  &.normal {
    .events-list__item {
      &:hover {
        box-shadow: 0 0 25px rgba(175, 175, 175, 0.5);
        z-index: 15;
      }
      .item-content {
        display: flex;

        &__text {
          flex: 1;
        }
        &__subscribers {
          flex: 0 1;
          padding: 0 0.25rem 0 1.25rem;
          border-left: 1px solid #ddd;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          .subscribers-number {
            font-weight: bold;
            font-size: 1.5rem;
            text-align: center;
            color: #666;
          }
          .subscribers-text {
            font-size: 0.875rem;
            color: #666;
            text-align: center;
          }
        }
      }
      h3 {
        font-weight: bold;
        font-size: 1.25rem;
      }
      p {
        font-size: 0.875rem;
        margin-bottom: 0;
      }

      .item-image {
        height: 150px;
        margin: -1.25rem -1.25rem 1.25rem;
        overflow: hidden;
        img {
          width: 100%;
        }
      }
    }
  }

}

[class^="icon-"] {
  font-family: "Font Awesome 5 Free Regular";
  width: 18px;
  font-size: inherit;
  font-style: normal;
  margin-right: 0.25rem;
}

.icon-going:before {
  content: "\f35a"
}

.icon-leave-event:before {
  content: "\f057"
}

.icon-is-going:before {
  content: "\f058"
}