.sidebar-sticky {
  position: sticky;
  top: $topnav-height + 10px;
}

.sidebar_user-details {
  display: flex;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid #ddd;
  margin-bottom: 0.75rem;
  align-items: center;
  justify-content: center;
  &__text {
    padding-left: 0.5rem;
    line-height: normal;
    a {
      font-size: 0.75rem;
      font-weight: bold;
      display: block;
      margin-top: 0.1rem;
    }
    small {
      color: $gray-500;
    }
  }

}

.newsfeed-tabs {
  .nav-pills {
    margin: 0 -0.5rem;
    box-shadow: inset 0 0px 15px #d8d1c8;
    overflow: hidden;
    margin-bottom: 1rem;
    .nav-link {
      color: $gray-400;
      font-size: 1rem;
      @include media-breakpoint-down("sm") {
        padding: 1rem;
      }
      &.active {
        color: $primary;
        background-color: #fff;
        box-shadow: 0 0 10px #d8d1c8;
      }
    }
  }
}