.sidebar_user-details {
  display: flex;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid #ddd;
  margin-bottom: 0.75rem;
  align-items: center;
  justify-content: center;
  &__text {
    padding-left: 0.5rem;
    a {
      font-size: 0.75rem;
      font-weight: bold;
      display: block;
      margin-top: 0.1rem;
    }
  }
}