.avatar-thumb {
  display: block;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #fff;
  box-shadow: 0 0 5px rgba(150, 150, 150, 0.5);
  width: 40px;
  height: 40px;
  &.large {
    width: 75px;
    height: 75px;
  }
  img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.new-post {
  display: flex;
  padding: 0.75rem;
  background-color: #5ec9cd;
  border-radius: 0.25rem;
  margin-bottom: 1.5rem;
  border: 1px solid transparent;
  transition: all 0.75s;
  &_avatar {
    flex: 0 0 40px;
    max-width: 60px;
    padding: 0 0.75rem 0 0;
    overflow: visible;
    display: flex;
    align-items: center;
    height: 45px;
  }
  &_content {
    flex: 1;
    textarea {
      width: 100%;
      resize: none;
    }
  }
  &_actions {
    margin-top: 0.5rem;
    display: flex;
    .btn-publish {
      margin-left: auto;
    }
  }
  &.focused {
    background-color: #fff;
    border-color: #ddd;
    .new-post_content textarea {
      border-color: transparent;
      border-bottom: 1px solid #ddd;
      border-radius: 0;
    }
  }
}

.posts-group {
  @extend .list-group;
  &-item {
    &:not(.withComments) {
      @extend .list-group-item;
    }
    &.withComments {
      .Post {
        @extend .list-group-item;
        transition: all 0.5s;
        opacity: 1;
        display: flex;
        flex-direction: row;
        z-index: 20;
        box-shadow: 0 5px 5px rgba(150,150,150,0.25);
      }
    }
  }
}


.Post {
  transition: all 0.5s;
  opacity: 1;
  display: flex;
  flex-direction: row;
  &.showing {
    opacity: 0;
  }
  .el-dropdown {
    position: absolute;
    right: 0;
    top: 0;
    height: 20px;
    width: 50px;
  }
  &_menu-icon {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem 1rem;
    font-size: 0.85rem;
    color: #bbb;
    background-color: #fff;
    border-radius: 0.25rem;
    &:hover {
      color: #999;
    }
  }
  &_content {
    margin-left: 1rem;
    &-top {
      font-size: 0.9rem;
    }
  }
  &_username {
    font-weight: bold;
    &:hover {
      text-decoration: none;
    }
  }
  &_date {
    color: $gray-500;
    a {
      color: $gray-500;
    }
  }
  &_text {
    font-size: 0.9rem;
    line-height: normal;
    p {
      margin-bottom: 0;
    }
  }
  &_actions {
    display: flex;
    margin-top: 0.5rem;
  }
  &_action {
    text-align: center;
    padding: 0 0.5rem 0 0;
    margin: 0 0.5rem 0 0;
    border-right: 1px solid #eee;
    &:last-child {
      border-right: none;
    }
    button {
      display: block;
      font-size: 0.75rem;
      color: $secondary;
      &:hover, &:active, &:focus {
        color: darken($secondary, 10);
        text-decoration: none;
        background-color: #fefefe;
      }
      svg + span, img + span, .fa + span {
        margin-left: 0.25rem;
      }
    }
    &-number {

    }
    &-like {
      &.unliked img, img {
        width: 20px;
        height: 20px;
        object-fit: cover;
        object-position: 50% 50%;
        transition: opacity 0.5s;
      }
      button:hover img {
        object-position: 100% 100%;
      }
      &.liked  {
        img {
          object-position: 0 0 !important;
        }
      }
    }
    &-comment .btn-link {
      color: #aaa;
      &:hover {
        color: #888;
      }
    }
  }
}

.newPost-enter-active, .newPost-leave-active {
  transition: all 1s;
}
.newPost-enter, .newPost-leave-to /* .list-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(30px);
}

.fade-enter {
  opacity:0;
}

.fade-enter-active{
  animation: fadein 1s;
}

.fade-leave {
  opacity:1;
}

.fade-leave-active {
  animation: fadein 1s reverse;
}


@keyframes fadein {
  from {opacity: 0;}
  to   {opacity: 1;}
}