  // Body
$body-bg: #f5f2ef;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$primary:   #51cbce;
$secondary: #fbc658;
$light:     #fff;

$fb: #3b5998;
$google: #4285f4;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
//$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #111;

// Navbar
$navbar-default-bg: #fff;
$topnav-height: 52px;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($primary, 25%);
$input-color: lighten($text-color, 5%);
$input-placeholder-color: lighten($text-color, 10%);

// Panels
$panel-default-heading-bg: #fff;

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1190px
);

$grid-gutter-width:           1rem;