// Fonts
@import url('https://fonts.googleapis.com/css?family=Fugaz+One');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
// Variables
@import "variables";
// Libraries
@import "~bootstrap/scss/bootstrap";
@import "paper-kit";
@import "paper-bootstrap-wizard";
@import "nucleo-icons";
@import "floating-label";

body {
  background-color: $body-bg;
  font-family: Open Sans, sans-serif;
}

html, body, #app {
  height: 100%;
}

body.nav-fixed {
  height: calc(100% - 52px);
  #app {
    height: calc(100% - 52px);
  }
}

b {
  font-weight: bold;
}
body.nav-fixed main {
  margin-top: $topnav-height;
  position: relative;
}

@import "utils";
@import "header";
@import "landing-page";
@import "login-page";
@import "profile-page";
@import "posts";
@import "comments";
@import "search";
@import "home";

@import "footer";

.education-item, .experience-item {
  position: relative;
  padding-right: 38px;
  .item-tools {
    position: absolute;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    right: 0;
    padding-right: 0.5rem;
    [class*="item-"] {
      padding: 0.2rem;
    }
  }

}

img {
  max-width: 100%;
}

a.card {
  transition: all 0.2s;
}

a.card:hover {
  text-decoration: none;
  background-color: #f0f0f0;
}

.btn-primary {
  color: #fff;
  &:hover {
    color: #fff;
  }
}

.normal-message {
  text-align: center;
  color: #aaa;
  padding: 0.75rem;
}

.list-message {
  @extend .normal-message;
  padding: 3rem;
}