
.btn-just-icon{
    border-radius: $border-radius-btn-large;
    height: 40px;
    width: 40px;
    min-width: 40px;
    padding: 8px;

    &.btn-sm{
        padding: 4px !important;
    }
    i{
        font-size: $font-size-base;
        padding: 2px 0px;
    }
}
.btn-link.btn-just-icon{
    padding: 8px;
}

.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group{
    margin-left: -2px;
}

// Apply the mixin to the buttons
.btn-neutral  { @include btn-styles($white, $default-states-color); }

.btn-outline-neutral { @include btn-outline-styles($white, $default-states-color);
    &:hover,
    &:focus{
        color: $default-states-color;
        background-color: $white;
    }
}
.btn-neutral {
    @include btn-styles($white, $white);
    color: $default-color;
    &:hover,
    &:focus{
        color: $default-states-color;
    }

    &.btn-border{
        &:hover,
        &:focus{
            color: $default-color;
        }

        &:active,
        &.active,
        .open > &.dropdown-toggle{
            background-color: $white;
            color: $default-color;
        }
    }

    &.btn-link:active,
    &.btn-link.active{
        background-color: transparent;
    }
}

.btn-just-icon{
    &.btn-sm{
        height: 30px;
        width: 30px;
        min-width: 30px;
        padding: 0;

        i{
            font-size: $font-size-sm;

        }
    }
    &.btn-lg{
        height: 50px;
        width: 50px;
        min-width: 50px;
        padding: 13px;

        i{
            font-size: 18px;
            padding: 0;
        }

    }

}
.btn-round{
    border-radius: 30px;
}
