/*     General overwrite     */



/*           Animations              */
.form-control,
.input-group-addon,
.tagsinput,
.navbar,
.navbar .alert,
.carousel-control.right,
.carousel-control.left
{
    @include transition($general-transition-time, linear);
}
.tagsinput .tag,
.tagsinput-remove-link,
.filter,
.btn-hover,
[data-toggle="collapse"] i,
.animation-transition-fast,
.dropdown-menu .dropdown-item{
    @include transition($fast-transition-time, linear);
}

.btn-morphing .fa,
.btn-morphing .circle,
.gsdk-collapse{
    @include transition($slow-transition-time, linear);
}

.fa{
    width: 18px;
    text-align: center;
}
.margin-top{
    margin-top: 50px;
}

.iframe-container iframe{
    box-shadow: 0 16px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}

/*       CT colors          */
.ct-blue{
    color: $primary;
}
.ct-azure{
    color: $info;
}
.ct-green{
    color: $success;
}
.ct-orange{
    color: $warning;
}
.ct-red{
    color: $danger;
}

// small changes

.pagination .page-item .page-link .fa{
    width: auto;
    font-weight: $font-weight-bold;
}

.navbar-transparent{
    background-color: transparent !important;
    border-bottom: 1px solid transparent;
}
